/* Reset some default browser styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
#navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

#navbar ul {
    list-style: none;
}

#navbar li {
    display: inline-block;
    margin: 0 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Welcome Section styles */
#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Projects Section styles */
#projects {
    padding: 50px;
    background-color: #fff;
}

.project-tile {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Profile Link styles */
#profile-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #333;
    text-decoration: none;
    /* Default styles */

/* Add your existing styles here */




}
/* Media Query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    /* Navbar styles for smaller screens */
    #navbar {
        padding: 5px 0;
    }

    
}
